* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom right, #9bafd9, #103783);
  max-width: 160rem;
  height: 100vh;
  font-size: 2rem;
  /* font-family: 'Inter', sans-serif; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  height: 45rem;
  width: 40rem;
  background-color: #bfe1f2;
  box-shadow: 1px 5px 10px #464646;
  border-radius: 8px;
}

.info {
  font-weight: 800;
  font-size: 3rem;
  padding-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  display: flex;
  gap: 0.5rem;
}

label {
  flex-grow: 1;
}

input {
  flex: 1 0 auto;
  height: 3rem;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 2px solid black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  flex-grow: 1;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}
